body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header a {
    margin-left: 10px;
    font-size: 30px;
    text-decoration: none;
    color: purple;
}

#currentTime {
    float: right;
    font-weight: bolder;
    font-size: 25px;
    margin-right: 10px;
}
.gameWrap {
    border: solid;
    text-align: center;
    justify-content: center;
    background: white;
    margin: 120px;
}
.questions {
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
}

#startButton {
    background-color: purple;
    color: white;
    border-color: black;
}

.userChoices {
    padding-left: 30%;
    padding-right: 30%;
}
li {
    list-style-type: none;
    background:purple;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;

}

li:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px lightseagreen;
    color: lightseagreen;
}

.submitBtn {
    background-color: purple;
    color: white;
    border-color: black;
}

.endingScore {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#highScore {
    padding-left: 30%;
    padding-right: 30%;
}

#goBack {
    background-color: purple;
    color: white;
    border-color: black;
}

#clear {
    background-color: purple;
    color: white;
    border-color: black;
}